include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include ShoperPrime *.css
recursive-include ShoperPrime *.csv
recursive-include ShoperPrime *.html
recursive-include ShoperPrime *.ico
recursive-include ShoperPrime *.js
recursive-include ShoperPrime *.json
recursive-include ShoperPrime *.md
recursive-include ShoperPrime *.png
recursive-include ShoperPrime *.py
recursive-include ShoperPrime *.svg
recursive-include ShoperPrime *.txt
recursive-exclude ShoperPrime *.pyc